.DS_Store
/lr8/.DS_Store
/lr8/.bundle

# Ignore the default SQLite database.
/lr8/db/*.sqlite3
/lr8/db/*.sqlite3-*

# Ignore all logfiles and tempfiles.
/lr8/log/*
/lr8/tmp/*
!/lr8/log/.keep
!/lr8/tmp/.keep

# Ignore pidfiles, but keep the directory.
/lr8/tmp/pids/*
!/lr8/tmp/pids/
!/lr8/tmp/pids/.keep

# Ignore uploaded files in development.
/lr8/storage/*
!/lr8/storage/.keep

/lr8/public/assets
/lr8/.byebug_history

# Ignore master key for decrypting credentials and more.
/lr8/config/master.key

/lr8/public/packs
/lr8/public/packs-test
/lr8/node_modules
/lr8/yarn-error.log
/lr8/yarn-debug.log*
/lr8/.yarn-integrity